$dull-yellow: rgb(232, 191, 80);
$light-yellow: rgb(250, 234, 147);

#menu {
	.sub-menu-item {
		padding-left: 10px;
	}

	.header-item-count {
		font-size: 0.8em;
	}

	.test-data {
		font-style: italic;
		color: blue;
		background-color: yellow;
		cursor: pointer;
	}
}

#topics {
	header > h1 {
		/*background-color: $dull-yellow;*/
	}

	.bar-stable {
		background-color: $light-yellow;
	}
}


#main {

	.top-row, .bottom-row {
		/*min-height: 25%;*/
		/*background-color: azure;*/
		height: 60px;
		padding: 5px;
	}

	.tweet-row {
		font-size: 1.5em;
		line-height: 150%;
		/*min-height: 50%;*/
		/*height: 50%;*/
		/*background-color: lavender;*/
		margin-left: 8px;
		margin-right: 15px;
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 15px;
		border: 1px solid grey;
		box-shadow: 5px 5px 5px lightgrey;

		.fmt-big {
			padding-right: 5px;
			padding-left: 5px;
			font-size: 1.3em;
			color: #4D7696;
		}

		.fmt-extra-big {
			padding-right: 8px;
			padding-left: 8px;
			font-size: 1.5em;
			color: #9b59b6;
		}

		.fmt-normal {
			padding-right: 3px;
			padding-left: 3px;
			font-size: 1em;
			color: black;
		}


		.fmt-small {
			padding-right: 3px;
			padding-left: 3px;
			font-size: 0.8em;
			color: grey;
		}


		.fmt-extra-small {
			padding-right: 2px;
			padding-left: 2px;
			font-size: 0.6em;
			color: grey;
		}
	}

	.tweet-imagery {
		color: orange;
		font-size: 3em;
	}

	#prevNextRow {
		margin-top: 50px;
	}

}


